*
{
    font-family: 'Schoolbell';
    
}
body{
   background-image: url("paper.jpg");
}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.board
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

.cell{
    border:0px solid black;
    font-size:18px;
}
.score
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: sans-serif;
}

.curr_sel
{
    background-color: black;
    color:white;
    
}
select
{
    /* background-image: url(/paper.jpg); */
    border:none;
    background-color:transparent;
}
table,th,td
{
    padding-right: 10px;
    padding-left: 10px;
}

.cells
{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    gap:0px
}
.cell
{
    height:8rem;
    width: 8rem;
    background-color: transparent;
    border:0px solid black;
}

.cell:hover
{

    background-color:rgba(44, 44, 44, 0.548);
    color:white;
    cursor:url("cursor.cur"),pointer;
}
.cell:disabled
{
    color:inherit;
    background-color: rgb(138, 138, 138);
    cursor: default;
}
/* borders for cells*/
.lb{
    border:0px;
    border-right:0px;
    border-top:0px;
    border-left:1px solid black;
    border-bottom:1px solid black;
}
.rb
{
    border-left:0px;
    border-top:0px;
    
    border-right:1px solid black;
    border-bottom:1px solid black;
}
.rt
{
    border-left:0px;
    border-bottom:0px;
   
    border-right:1px solid black;
    border-top:1px solid black;
}
.lt
{
    border-right:0px;
    border-bottom: 0px;
    
    border-left:1px solid black;
    border-top:1px solid black;
}
.lrtb
{
    border-top:0px;
    border: 0px solid black;
}
.tb
{
    border-top:1px solid black;
    border-bottom:1px solid black;
}
.l
{
    border-left:1px solid black;
    border-right: 0px;
}
.r
{
    border-right:1px solid black;
    border-left: 0px;
}
.b
{
    border-bottom:1px solid black;
}


.t
{
    border-top:1px solid black;
}

#player1
{
    color:blue;
}

#player2
{
    color:red;
}